div.header{
	border: 2px solid #003B62;
	background-color: #B5CFE0;
	padding: 7px;
	margin: 5px;
}

div.text{
	border: 1px solid #FFFFFF;
	padding: 10px;
	margin: 5px;
}

div.article{
  border: 1px solid #000000;
  padding: 5px;
  margin: 10px;
}
